export(BALANCE_POINT)
export(HIGH_TEMPERATURE)
export(LOW_TEMPERATURE)
export(calculate_degree_hours)
export(degree_hour_limits)
export(load_forecast_and_generate_plots)
export(palette)
export(plot_color_bar)
export(plot_dh)
export(plot_dh_animation)
export(read_forecast)
export(write_forecast_json)
importFrom(rgdal,readGDAL)
