<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Heating and Cooling Load Forecast</title>

    <!-- Bootstrap -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-home"></span> Heating and Cooling Load Forecast</a>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <h1><span class="glyphicon glyphicon-home"></span> Heating and Cooling Load Forecast</h1>
        <p>
            Heating, Ventilation, and Air Conditioning (HVAC) systems are the greediest energy-consuming devices in most buildings. So having a national 7-day forecast of how much energy those buildings’ HVAC systems are likely to expend is a very valuable tool for predicting energy loads by geographic region.
        </p>
        <p>
            Knowing that energy usage forecasts are directly related to temperature forecasts, I can estimate heating and cooling load by using a concept called heating and cooling <a href="http://en.wikipedia.org/wiki/Heating_degree_day">degree days</a>, also known as heating-degree-hours (HDH) and cooling-degree-hours (CDH).
        </p>
        <p>
            The idea is fairly simple. We assume a comfortable temperature, which we call the <strong>balance point</strong>,
            and see how far the forecast temperature will be from that balance point. The number of degrees that the
            forecast temperature point falls below the balance point, we call heating
            degrees. Similarly, the  number of degrees that the forecast temperature is above the balance point,
            we call cooling degrees. In both cases, we disallow negative degree-hours, such that there will always be
            zero or more HDHs and CDHs.
            In practice, choosing the right balance point can be tricky. For the sake of this exercise, we'll use 16&deg;C.
        </p>
        <p>
            This direct correlation between temperature and degree hours could of course be treated more rigorously.
            To delve deeper in the implementation details, the complexity of this problem
            and important caveats that surround it,
			<a class="btn btn-primary btn-lg" role="button" onclick="$('#more-info').toggleClass('hide')">
                READ MORE HERE.»
            </a>
        </p>
        <div id="more-info" class="hide">
            <p>
                Using weather forecast data from the <a href="http://www.nws.noaa.gov/ndfd/">National Digital Forecast Database (NDFD)</a>,
                I'm able to implement the CDH/HDH balance-point algorithm for the continental United States, and plot the
                7-day heating and cooling load forecast. In this implementation, positive degree-hours denote heating and negative degree-hours denote cooling, which facilitates a plot that includes both metrics in a single view.
            </p>
            <p class="alert alert-warning">
                <span class="glyphicon glyphicon-thumbs-down"></span> Caveats:
                <p>Given more time, I would implement more nuanced methods to represent the complex relationship between degree-hours and weather forecast. Several important issues would be top-of-mind as I expanded my analysis:</p>
				<ul>
                    <li>
                        HDD and CDD methods for estimating load
                        <a href="http://en.wikipedia.org/wiki/Heating_degree_day#Problems">are inherently problematic</a>.
                    </li>
                    <li>
                        Due to the fact that we're using raw high resolution forecasts (i.e. 3-6 hour, instead of Day),
                        loads will be skewed by short-term differences in temperature, showing more extreme heating and
                        cooling forecasts. That said, from a certain lens, one might consider this a "feature", since we
                        also benefit from more granular forecasts.
                    </li>
                    <li>
                        A good next step would be to introduce regional average set points for load estimation, using
                        the <a href="http://www.eia.gov/todayinenergy/detail.cfm?id=14771">EIA's</a> regional average balance
                        points.
                    </li>
                    <li>
                        Obviously, we could determine even more accurate load forecasts using state-of-the-art
                        methodologies. If we were doing a deeper analysis, we might consider calculating heat buildup
                        over time, humidity, and individual household set points.
                    </li>
					<li>
                        The use of a dynamic three-color scale (i.e. blue, white, red) is problematic, since the color scheme will always
                        fit the entire spectrum. I.e. the actual plot intensities will vary by season, and always show
                        a high heating and high cooling regions. Instead, we need to tie color hues to precise values.
                    </li>
                    <li>
                        The dates and times are very likely off by up to three hours, and almost definitely have the wrong time zone, since we're using the current system time as an estimate for the start of the forecasts. We need to dig into the NDFD API and see if there's metadata we can use to address this.
                    </li>
                </ul>
            </p>
            <p class="alert alert-info">
                You can view the source at <a href="https://github.com/yoni/load-forecast">yoni/load-forecast</a>. Tools and APIs included:
            <ul>
                <li>
                    The National Weather Service's <a href="http://www.nws.noaa.gov/ndfd/technical.htm">National Digital Forecast Database</a>.
                    We're using their FTP end point, which is updated every three hours.
                </li>
                <li>
                    <a href="http://www.r-project.org/">The R Project for Statistical Programming</a>, used to load weather forecast data,
                    calculate heating and cooling degree days, and plot results. Additional R package dependencies are required for this
                    project to run. These may be found in the <code>DESCRIPTION</code> file under the R package root.
                </li>
                <li>
                    <code><a href="http://www.gdal.org/">gdal</a></code> -- Geospatial Data Abstraction Library. Backs the <code><a href="http://cran.r-project.org/web/packages/rgdal/index.html">rgdal</a></code> R package, which is used to
                    load and plot weather forecast data.
                </li>
                <li>
                    <code><a href="http://www.ffmpeg.org/">ffmpeg</a></code> -- used to generate the MPEG animated forecast
                </li>
                <li>
                    <code><a href="http://www.imagemagick.org/">ImageMagick</a></code> -- used to generate the GIF and MPEG animated forecasts
                </li>
            <li>
                <code><a href="http://www.giss.nasa.gov/tools/panoply/">Panoply</a></code> -- an excellent tool built by NASA. Used to explore raw
                <a href="http://en.wikipedia.org/wiki/GRIB">GRIB</a> weather forecast data.
            </li>
            </ul>

            </p>
        </div>
    </div>
</div>

<div class="container" ng-controller="Ctrl">
    <div class="row">
        <p class="alert alert-info">
            In the plots below, the blue areas represent locations where we forecast larger
            <strong class="label label-primary">cooling</strong> loads, whereas the red areas represent forecasted
            <strong class="label label-danger">heating</strong> loads. Zero and near-zero loads
            are represented by white hues.
        </p>
    </div>
    <div class="row">
        <div ng-repeat="forecast in forecasts" class="col-md-5">
            <h2>{{forecast.name}}</h2>
            <p>
                {{forecast.description}}
            </p>
            <a href="{{forecast.gif}}"><img ng-src="{{forecast.gif}}" height="70%" width="70%" title="Click to see forecast for {{forecast.name}}"/></a>
            <video width="320" height="240" controls>
                <source src="{{forecast.mpg}}" type="video/mp4">
                Your browser does not support the video tag (or possibly this format). Please try using Chrome.
            </video>
            <div ng-repeat="image in forecast.images">
                <a href="{{image}}" class="thumbnail">
                    <p>
                        {{$index * forecast.hoursPerFrame}} - {{$index * forecast.hoursPerFrame + forecast.hoursPerFrame}}
                    </p>
                    <img ng-src="{{image}}" height="15%" width="15%"/>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <p>
                The color scheme ranges from the highest Cooling Degree Hours (CDH) in dark blue to the highest
                Heating Degree Hours (HDH) in dark red.
            </p>
            <img src="../out/legend.png" />
        </div>
    </div>

    <hr>

    <footer>
        <p>© Yoni Ben-Meshulam 2014</p>
    </footer>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="js/app.js"></script>

<!-- Google Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49186421-1', 'yoni.github.io');
    ga('send', 'pageview');

</script>
</body>
</html>

